@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
  margin: 0px 30px 60px;
  width: auto;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
}
nav{
  position: relative;
  margin: 10px auto 0;
  width: 400px;
  height: 50px;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav .animation{
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all .5s ease 0s;
}

.active{
  /*position: absolute;*/
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  /*z-index: -1;*/
  background: #1abc9c;
  border-radius: 8px;
  /*transition: all .5s ease 0s;*/
}
nav a:nth-child(1){
  width: 100px;
}
nav .start-.active, a:nth-child(1):hover~.animation{
  width: 100px;
  left: 0;
}
nav a:nth-child(2){
  width: 110px;
}
nav a:nth-child(2):hover~.animation{
  width: 110px;
  left: 100px;
}
nav a:nth-child(3){
  width: 100px;
}
nav a:nth-child(3):hover~.animation{
  width: 100px;
  left: 210px;
}
nav a:nth-child(4){
  width: 90px;
}
nav a:nth-child(4):hover~.animation{
  width: 100px;
  left: 300px;
}

.box{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: inline-block;
  width: 150px;
  height: 200px;
  margin: 2px;
}

.kep{
  display: inline-block;
  border-radius: 20px;
  width: 145px;
  height: 195px;
  margin: 5px;

}
